<div class="container">
  <mat-card>
    <div>
      <mat-form-field class="input-text">
        <mat-label>ID Drone</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-text">
        <mat-label>Latitude</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-text">
        <mat-label>Longitude</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div>
      <label class="mat-slider-temperatura">Temperatura:</label>
      <mat-slider thumbLabel [displayWith]="formatoTemperatura" tickInterval="1000" min="-25" max="40"></mat-slider>
    </div>
    <div>
      <label class="mat-slider-umidade">Umidade do Ar:</label>
      <mat-slider thumbLabel [displayWith]="formatoUmindade" tickInterval="1000" min="0" max="100"></mat-slider>
    </div>
    <div *ngIf="ativarRastreamento" class="center-button">
      <button mat-raised-button class="green-button" (click)="clickRastreamento()">Ativar rastreamento</button>
    </div>
    <div *ngIf="!ativarRastreamento" class="center-button" >
      <button mat-raised-button color="warn" (click)="clickRastreamento()">Desativar rastreamento</button>
    </div>
  </mat-card>
</div>
